<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Blog z KAwalami</title>

</head>

<body>
    <header>
        <h1>Blog z kawalami</h1>
        <nav>
            <ul class="nav__ul">
                <li class="nav__li"><a href="/signUp">Sign up</a></li>
                <li class="nav__li"><a href="/about">About</a></li>
                <li class="nav__li"><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="menu__left">
            <div class="menu__ul">
                <li class="menu__ul__li"><a href="/login">Login</a></li>
                <li class="menu__ul__li"><a href="/new">New</a></li>
            </div>
        </div>
        <div id="panel">
            <form action="/login" method="post">
                <label for="username" id="labellogin">User Name:</label>
                <input type="text" id="username" name="user">
                <label for="password" id="labellogin">Password:</label>
                <input type="password" id="password" name="password">
                <input type="submit" value="Login">
            </form>
            <div id="panel1">
                <form action="/login2" method="post">
                    <label for="username" id="labellogin">User Name:</label>
                    <input type="text" id="username" name="user">
                    <label for="password" id="labellogin">Password:</label>
                    <input type="password" id="password" name="password">
                    <input type="submit" value="Login">
                </form>
        </div>
    </main>
</body>
</html>